<div class="login">
  <div class="login__container">

    <div class="login__card">
      <h2>Acesso</h2>

      <div class="login__form">
        <input
          type="text"
          placeholder="Usuário"
          class="login__input"
        />

        <input
          type="password"
          placeholder="Senha"
          class="login__input"
        />

        <button class="login__button" (click)="login()">
          Entrar
        </button>
      </div>

      <p class="login__footer">
        Ambiente interno • Uso corporativo
      </p>
    </div>

  </div>
</div>
