<div class="page-container">
  <!-- HEADER -->
  <app-header title="Solicitações de Crédito"></app-header>

  <!-- RESUMO -->
  <app-resumo-solicitacoes [lista]="facade.listaFiltrada()"> </app-resumo-solicitacoes>

  <!-- TOP BAR -->
  <div class="top-bar">
    <!-- ESQUERDA -->
    <div class="left">
      <button class="btn-novo" (click)="irParaNova()">Nova Solicitação</button>

      <app-busca-solicitacoes (buscaChange)="facade.aplicarBusca($event)"> </app-busca-solicitacoes>
    </div>

    <!-- DIREITA -->
    <div class="right">
      <app-filtro-solicitacoes (filtroChange)="facade.aplicarFiltro($event)">
      </app-filtro-solicitacoes>
    </div>
  </div>

  <!-- LISTA -->
  <div class="lista">
    <div *ngFor="let item of facade.listaFiltrada(); trackBy: trackById">
      <app-solicitacao-item [solicitacao]="item"> </app-solicitacao-item>
    </div>
  </div>
</div>
